.movie-purchase{
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 100%;
  height: 100%;
  background-color: #3e3838;
  color : #e2e2e2;
}

/* 결제 header */
.movie-purchase-header{
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height : 10%;
  padding : 1% 5%;
  background-color: #292b31;
}
.movie-purchase-header > #header-payment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width : 30%;
}
.movie-purchase-header > #header-payment p:nth-child(1){
  font-size: 0.8em;
}
.movie-purchase-header > #header-payment p:nth-child(2){
  font-size: 1.8em;
  color : #bb9e8b;
}

/* 결제 content */
.movie-purchase-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 85%;
}
.movie-purchase-content > p{
  font-size: 1.5em;
}
.movie-purchase-content-pay {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);;
  width: 80%;
  height: 80%;
}
.movie-purchase-content-pay-item{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding : 5%;
}
.movie-purchase-content-pay-item > p{
  font-size: 1.3em;
}

/* 결제 이미지 */
.movie-purchase-content-pay-item > #imgwrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  padding: 4%;
}
.movie-purchase-content-pay-item > #imgwrapper:hover {
  padding: 1%;
}
.movie-purchase-content-pay-item > #imgwrapper > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.movie-purchase-content-pay > #payCard{
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.movie-purchase-content-pay > #payCash{
  border-bottom: 1px solid #e2e2e2;
}
.movie-purchase-content-pay > #payKakao{
  border-right: 1px solid #e2e2e2;
}