.navbar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #b1b9c8 ;

    @media (max-width:344px)  {
        font-size: 0.6rem;
      }

    @media (min-width: 345px) and (max-width:449px)  {
        font-size: 0.8rem;
      }

    @media (min-width: 450px) and (max-width:574px)  {
        font-size: 1rem;
      }

    @media (min-width: 575px) {
        font-size: 1.2rem;
    }
  }