.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #b1b9c8 ;
  height: 8%;
  padding: 3% 0px;

  /* 휴대폰 가로 480px ~ 768px  #아이폰 XR : 896px */
  @media (min-width:480px) and (max-width:900px) and (max-height :480px) and (orientation: landscape) {
    padding: 2% 0px;    
    height: 13%;
  }

  /* 탭 가로 (모니터 포함)*/
  @media (min-width:1024px) and (min-height:700px) and (max-height :1025px) and (orientation: landscape) {
    padding: 2% 0px;    
  }
}

.navbar-img {
  overflow: hidden;
}

.navbar-img img {
  height: 100%;
}