.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 3% 0;
  }
  
  .option .option-icon {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-bottom: 5%;
    color: #b1b9c8;
  }
  
  .option .option-text {
    display: flex;
    font-weight: bold;
    justify-content: center;
    font-size: 0.5em;
  }