.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  
.option .option-icon {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin-bottom: 8%;
  color: #b1b9c8;
}
  
.option .option-text {
  display: flex;
  font-weight: bold;
  justify-content: center;
  font-size: 0.7em;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.category .option-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  margin-bottom: 3%;
  width: 40%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 100%;

  /* 휴대폰
  세로 모드
  가로 : 260 ~ 480
  세로 481 ~ 768
  */
  @media (min-width: 260px) and (max-width:480px) and (orientation: portrait) {
    width: 70%;
  }

  /* 탭 
  세로 모드
  가로 : 768 ~ 1023
  세로 : 1024 ~

  가로 모드
  가로 : 1024 ~
  세로 : 768 ~ 1023
  */
  @media ((min-width: 768px) and (orientation: portrait)) or ((min-width: 1024px) and (orientation: landscape)) {
    width: 49%;
  }

  /* 휴대폰
  가로 모드
  가로 : 481 ~ 768
  세로 : 260 ~ 480 
  */
  @media (min-width:480px) and (max-width: 768px) and (orientation: landscape) {
    width: 75%;
  }
  
  /* 모니터 */
  @media (min-width: 1024px) and (min-height:1024px)  {
    width: 65%;
  }

  /* 휴대폰 가로 모드 길이가 768px 이상 (Ex 아이폰 XR)*/
  @media ((min-width: 768px) and (max-height: 480px) and (orientation: landscape)) {
    width: 75%;
  }
}

#fastFood .option-icon {
  background-color: #ffdfd4;
  color: #cc0000;
}

#Cinema .option-icon {
  background-color: #d195ff;
  color: #6f00cc;
}

#Cafe .option-icon {
  background-color: #fff0a6;
  color: #ffd400;
}

#Traffic .option-icon {
  background-color: #97b0d1;
  color: #006cb7;
}

#Machine .option-icon {
  background-color: #ffbf8b;
  color: #ff7f00;
}

#Atm .option-icon{
  background-color: #a1e55c;
  color: #007500;
}

.category .option-text{
  font-weight: bold;
  font-size: 0.8em;
}