.sentence {
  width: 80%;
  height: 10%;
  margin: 6% 10%;

  /* 휴대폰 세로 */
  @media (min-width: 260px) and (max-width:480px) and (orientation: portrait) {
    @media (max-width:273px)  {
      font-size: 0.9rem;
    }
  
    @media (min-width: 274px) and (max-width:301px)  {
      font-size: 0.95rem;
    }
  
    @media (min-width: 302px) and (max-width:330px)  {
      font-size: 1.05rem;
    }
  
    @media (min-width: 331px) and (max-width:358px)  {
      font-size: 1.15rem;
    }
  
    @media (min-width: 359px) and (max-width:387px)  {
      font-size: 1.25rem;
    }
  
    @media (min-width: 388px) and (max-width:415px)  {
      font-size: 1.35rem;
    }
  
    @media (min-width: 416px) and (max-width:444px)  {
      font-size: 1.45rem;
    }
  
    @media (min-width: 445px) and (max-width:472px)  {
      font-size: 1.55rem;
    }
  
    @media (min-width: 473px) and (max-width:480px)  {
      font-size: 1.65rem;
    }
  }
  
  /* 탭 세로  */
  @media (min-width: 712px) and (orientation: portrait) {
    font-size: 2.2rem;
  }

  /* 탭 가로 (모니터 포함)*/
  @media (min-width:1024px) and (min-height:700px) and (max-height :1025px) and (orientation: landscape) {
    font-size: 1.6rem; 
  }

  /* 휴대폰 가로 */
  @media  (max-height:480px) and (max-width:900px) and (orientation: landscape) {
    height: 20%;

    @media (min-height: 260px) and (max-height:330px)  {
      font-size: 1.1rem;
    }
    @media (min-height: 330px) and (max-height:380px)  {
      font-size: 1.35rem;
    }

    @media (min-height: 380px) and (max-height:430px)  {
      font-size: 1.5rem;
    }

    @media (min-height: 430px) and (max-height:480px)  {
      font-size: 1.65rem;
    }
  }
}

.sentence p {
  margin: 0;
}

.sentence p:first-child {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 3%;
}

.sentence p:last-child {
  font-size: 0.7em;
  font-weight: bold;
  color: #767d88;
}
