body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.app {
  max-width: 768px;
  min-width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 2px solid black;
  height : 100vh;
  transform-origin: top left;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;

  @media (min-width: 769px) {
    /* 769px 이상일 때의 스타일 적용 */
  }
}

/* zoom Button */
.app-zoombuttons-container{
  position: absolute;
  width : 10%;
  max-width: 40px;
  bottom: 0;
  right: 0;
}
