.mypage{
  font-weight: bold;
}

/* 사용자 정보, 구독 정보 */
.mypage-information, .mypage-subscribe {
  border-bottom: 1px solid #d9d9d9;
  padding: 10%;
  min-height : 35%;

  @media (max-width: 344px) {
    font-size: 0.9rem;
  }

  @media (min-width: 345px) and (max-width: 449px) {
    font-size: 1.25rem;
  }

  @media (min-width: 450px) and (max-width: 574px) {
    font-size: 1.65rem;
  }

  @media (min-width: 575px) {
    font-size: 1.9rem;
  }
}

/* MyInfo 컴포넌트 */
.mypage-myinfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width : 100%;
  font-size: 1em;
}
.mypage #title{
  font-size: 1.1em;
}

/* Mypage 버튼 */
.mypage .Large_White, .mypage .Large_Orange{
  width : 100%;
  font-size: 0.8em;
}

/* 얼굴 */
.mypage-face {
  display: flex;
  justify-content: center;
  margin: 10% auto;
  font-size: 3em;
  color: #f09ea6;
}

/* 세부 정보 */
.mypage-status {
  padding : 5%;
}
.mypage-status .mypage-myinfo{
  margin-bottom : 5%;
}