.mypage-information {
    border-bottom: 1px solid black;
    padding: 10%;
}

.mypage-name,
.mypage-birth,
.mypage-myInformation,
.mypage-mySubscribe,
.mypage-startDate,
.mypage-endDate {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}

.mypage-myInformation .Large_Orange,
.myPage-mySubscribe .Large_Orange {
    width: 25%;
    border-radius: 20px;
    font-size: 0.7em;
    font-weight: bold;
}

.mypage-priavacy,
.mypage-myInformation button {
    margin-left: auto;
}

.mypage-name,
.mypage-startDate {
    margin-bottom: 5%;
}

.mypage-name,
.mypage-birth {
    padding: 0px 5%;
}

.mypage-face {
    display: flex;
    justify-content: center;
    margin: 10% auto;
    font-size: 3em;
    color: #f09ea6;
}

.mypage-subscribe {
    padding: 10%;
}

.mypage-status {
    padding: 10%;
}

.mypage-mySubscribe .Large_White {
    width: 25%;
    border-radius: 20px;
    font-size: 0.7em;
    font-weight: bold;
    border: 3px solid orange;
}

.mypage-information,
.mypage-subscribe {
    font-weight: bold;

    @media (max-width: 344px) {
        font-size: 0.9rem;
    }

    @media (min-width: 345px) and (max-width: 449px) {
        font-size: 1.25rem;
    }

    @media (min-width: 450px) and (max-width: 574px) {
        font-size: 1.65rem;
    }

    @media (min-width: 575px) {
        font-size: 1.9rem;
    }
}