.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  /* 휴대폰 가로 */
  @media  (max-height:480px) and (max-width:900px) and (orientation: landscape) {
    overflow-y: scroll
  }
}

.preview-video {
  width: 80%;
  height: 70%;
}

.preview-video iframe {
  height: 90%;
  width: 100%;

  /* 휴대폰 가로 */
  @media  (max-height:480px) and (max-width:900px) and (orientation: landscape) {
    height: 140%;
    margin-bottom: 10%;
  }
}
